body{
    background-color: #D4DDED;
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    height: 95vh;
    margin: 0%;
    padding: 0;
    /*text-shadow: 2px 0px 5px lightslategrey; */
} 
.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}
.banner{
    background-color: #5f9ed3;
    height: 40px;
    width: 100%;

}
a{
    text-decoration: none;
    
}
.links a{
    color: white;
}
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    height: 100vh;
}
/* header */
.homeHeader{
    display: flex;
    justify-content: space-around;
    background-color: #5f9ed3;
    height: 40px;
    width: 100%;

}
.headerEsquerda{
    width: 35%;
    
}
.headerDireita{
    width: 35%;

}
.headerCentro{
 width: 35%;
}
.links{
    margin: 0;
    height: 6vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
ul{
    list-style: none;
}

/* colunaEsquerda */
.colunaEsquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #F7FEFE;
    width: 200px;
    height: 100vh;
    border-radius: 2%;
}
.fotoPerfil{
    width: 175px;
    height: 175px;
    margin-top: 5%;
}
.fotoPerfil img{
    width: 100%;
}
.editarPerfil{
    display: flex;
    align-items: center;
    width: 90%;
    height: 5vh;
    border-bottom: 1px solid #5f9ed3;
    border-top: 1px solid #5f9ed3;
    margin-top: 2%;
}
.editarPerfil div{
    display: flex;
}
.liEditarPerfil{
    background-color: #F7FEFE;

}

.liEditarPerfil a{

    border-bottom: 1px solid #5f9ed3;
    border-top: 1px solid #5f9ed3;
}
.userInfos{
    margin-left: 1%;
    padding: 5%;
    width: 90%;
}

.linksPerfil li{
    display: flex;
    align-items: center;
    height: 5vh;
    /* border: #d1d1d1 1px solid; */
}

.linksPerfil{
    width: 90%;
}
.linksPerfil ul{
    background-color: #EFF9FF;
}
ul{
    padding: 0;
}
.linksPerfil a{
    border: #d1d1d1 1px solid;
    width: 100%;
    padding: 5%;
    
}

.linksPerfil a:hover{
    border: #5f9ed3 1px solid;
    background-color: #e6f5ff;
    /*c61e99*/
    
}
.divInvisivel{
    width: 100%;
    background-color: #F7FEFE;
}
/* coluna centro */
.colunaCentro{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.bemVindo{
    display: flex;
    flex-direction: column;
    background-color: #F7FEFE;
    width: 95%;
    height: 35vh;
    padding: 2%;
    border-radius: 2% 55px 2% 2%;
    margin-bottom: 2%;

}
.bemVindoUsuario, .divAniversario{
    margin-bottom: 2%;
}
.bemVindoUsuario span{
    font-size: 25px;
}
.divAniversario span{
    font-size: 20px;
}

.bemVindoUsuario a, .divAniversario a{
    color: #5f9ed3;
}

.bemVindoInfos > ul > li{
    margin-top: 5%;
}


.bemVindoIcones{
    font-size:10px;
    color:#979797;
    text-transform:lowercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
.centroIcones{
    display: flex;
    flex-direction: column;
}
.centroIcones div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 6vh;
}

.centroIcones img{
   width: 14px;
}

.divAniversario{
    display: flex;
    flex-direction: column;
    background-color: #F7FEFE;
    width: 95%;
    
    padding: 2%;
    border-radius: 2%;

}

/* coluna direita */
.colunaDireita{

    width: 350px;
    height: 400px;
    background-color: #F7FEFE;

}